*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: grey;
}
#exampleFormControlTextarea1 {
    font-size: 22px;
    font-weight: 400;
    background-color: wheat;
}