*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: grey; */
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
header h1{
    padding-left: 700px;
}